$inlineSpinnerHeight = 32px
$inlineSpinnerWidth = 32px
.inline-spinner
  margin 0 auto 10px auto
  width $inlineSpinnerWidth
  height $inlineSpinnerHeight
  position relative

  > .spinner
    top 50%
    left 50%
    width 100%
    height 100%

.button.loading
  padding 7px

.button > .inline-spinner
  // Make the size relative to the font
  width 1.75em
  height 1.75em

[data-view-name="loading-indicator"]
.partial-loading-mask
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 1001
  background rgba(255,255,255,0.8)
  &.non-modal
    background transparent
    pointer-events none

.loading-frame
  position relative
  display inline-block
  text-align center

.loading-text
  display block

.collection-loading
  display-flex-box()
  height 150px
  flex-vertical-center()
  text-align center
  font-size 0.9em
  color $loadingColor

  > .inline-spinner
    width 3em
    height 3em
    margin-bottom $contentPadding

//hide inline loading indicators if they are present
//underneath a modal loading indicator
body.loading
  .inline-spinner
  .spinner-label
    visibility hidden

  [data-view-name="loading-indicator"]
    .inline-spinner
    .spinner-label
      visibility visible

.loading-image
  display inline-block
  vertical-align middle

/*
spinner code base on spin.js with these settings:
 lines: 11, // The number of lines to draw
 length: 4, // The length of each line
 width: 3, // The line thickness
 radius: 7, // The radius of the inner circle
 rotate: 0, // The rotation offset
 color: '#000', // #rgb or #rrggbb
 speed: 1.2, // Rounds per second
 trail: 60, // Afterglow percentage
 shadow: false, // Whether to render a shadow
 hwaccel: false, // Whether to use hardware acceleration
 className: 'spinner', // The CSS class to assign to the spinner
 zIndex: 2e9, // The z-index (defaults to 2000000000)
 top: 'auto', // Top position relative to parent in px
 left: 'auto' // Left position relative to parent in px
*/

$spinnerSpeed = 1s

spinner-transform(deg)
  transform rotate(deg) translate(75%, 0)

.spinner
  position relative
  z-index 2000000000

.spinner-outer
  position absolute
  height 12%
  width 30%
  background-color currentColor
  border-radius 5px
  transform-origin 0% 50%
  box-shadow 0 0 3px rgba(0,0,0,0.1)

lines = 0 1 2 3 4 5 6 7 8 9 10
for line in lines
  .spinner-line-{line}
    animation 'line-' + line $spinnerSpeed linear infinite
    spinner-transform(line * 360deg / length(lines))

// TODO : Import the generation of the keyframes into stylus logic.
// Requires that stylus support interpolation of keyframe names.
@keyframes line-0
  0%
    opacity: 0.25
  0.01%
    opacity: 0.25
  0.02%
    opacity: 1
  0.01%
    opacity: 0.25
  100%
    opacity: 0.25

@keyframes line-1
  0%
    opacity: 0.31
  9.10%
    opacity: 0.25
  9.11%
    opacity: 1
  9.10%
    opacity: 0.25
  100%
    opacity: 0.31

@keyframes line-2
  0%
    opacity: 0.38
  18.19%
    opacity: 0.25
  18.20%
    opacity: 1
  18.19%
    opacity: 0.25
  100%
    opacity: 0.38

@keyframes line-3
  0%
    opacity: 0.45
  27.28%
    opacity: 0.25
  27.29%
    opacity: 1
  27.28%
    opacity: 0.25
  100%
    opacity: 0.45

@keyframes line-4
  0%
    opacity: 0.52
  36.37%
    opacity: 0.25
  36.38%
    opacity: 1
  36.37%
    opacity: 0.25
  100%
    opacity: 0.52

@keyframes line-5
  0%
    opacity: 0.59
  45.46%
    opacity: 0.25
  45.47%
    opacity: 1
  45.46%
    opacity: 0.25
  100%
    opacity: 0.59

@keyframes line-6
  0%
    opacity: 0.65
  54.55%
    opacity: 0.25
  54.56%
    opacity: 1
  54.55%
    opacity: 0.25
  100%
    opacity: 0.65

@keyframes line-7
  0%
    opacity: 0.72
  63.64%
    opacity: 0.25
  63.65%
    opacity: 1
  63.64%
    opacity: 0.25
  100%
    opacity: 0.72

@keyframes line-8
  0%
    opacity: 0.79
  72.73%
    opacity: 0.25
  72.74%
    opacity: 1
  72.73%
    opacity: 0.25
  100%
    opacity: 0.79

@keyframes line-9
  0%
    opacity: 0.86
  81.82%
    opacity: 0.25
  81.83%
    opacity: 1
  81.82%
    opacity: 0.25
  100%
    opacity: 0.86

@keyframes line-10
  0%
    opacity: 0.93
  90.91%
    opacity: 0.25
  90.92%
    opacity: 1
  90.91%
    opacity: 0.25
  100%
    opacity: 0.93
