<h1>Hello world!</h1>
<p>Mobile examples:</p>
<ul>
  <li>{{#link "examples/infinite-scroll"}}Infinite Scroll{{/link}}</li>
  <li>{{#link "examples/fast-click"}}Fast Click{{/link}}</li>
  <li>{{#link "examples/tap-highlight"}}Tap Highlight{{/link}}</li>
</ul>
