<h1>Fast Click</h1>
{{#button "buttonHandler" class="btn btn-large btn-primary"}}Fast Click{{/button}}
<div id="normal-click" class="btn btn-large">Normal Click</div>
<h3>Console</h3>
<textarea id="console-text" style="height: 300px;"></textarea>
{{#button "clear" class="btn btn-large"}}Clear{{/button}}
