
// CSS3 wrappers
background-clip()
  vendor('background-clip', arguments)

display-flex-box()
  display -webkit-box
  display box

tap-highlight-color()
  vendor('tap-highlight-color', arguments)

touch-callout()  
  vendor('touch-callout', arguments)

border-radius-clip(prop, args)
  if $android or $web
    // Andoird sucks. Clip border-radius to 5px
    clippedValues=()
    wasClipped=false
    for arg, i in args
      if arg == 'inherit'
        clippedArg = arg
      else
        unless arg is a 'unit'
          error('expected a unit, but got ' + typeof(arg))
        clippedArg = unit(arg) == 'px' ? min(5px, arg) : 5px
      wasClipped = wasClipped || clippedArg != arg

      push(clippedValues, clippedArg)

    if $android
      args=clippedValues

  // Support for non-prefixed is fairly prevalent. Android 2.1 and iOS 3.2 were the last versions requiring
  {prop} args

  if $web and wasClipped
    .android &
      {prop} clippedValues

border-top-left-radius()
  border-radius-clip('border-top-left-radius', arguments)
border-top-right-radius()
  border-radius-clip('border-top-right-radius', arguments)
border-bottom-right-radius()
  border-radius-clip('border-bottom-right-radius', arguments)
border-bottom-left-radius()
  border-radius-clip('border-bottom-left-radius', arguments)
border-radius()
  border-radius-clip('border-radius', arguments)

overflow-scrolling()
  vendor('overflow-scrolling', arguments)

text-size-adjust()
  vendor('text-size-adjust', arguments)

transform-origin()
  vendor('transform-origin', arguments)
